<!-- templates/about/about_us.html -->
{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <h1 class="text-center">About Us</h1>
    <p class="lead text-center">We are dedicated to raising awareness about cybersecurity and providing resources to help individuals and organizations stay safe online.At our core, we are deeply committed to enhancing awareness and understanding of cybersecurity issues that affect individuals and organizations alike. In an increasingly digital world, where cyber threats are becoming more sophisticated and prevalent, we recognize the critical importance of equipping people with the knowledge and tools necessary to navigate the online landscape safely.</p>
    <br></br>
    
    <div class="row mt-4">
        <div class="col-md-6">
            <h2 style="text-align: center;">Our Mission</h2>
            <p>Our mission is to provide a comprehensive array of resources, including educational materials, practical guides, and expert insights, all designed to empower users to protect themselves against potential cyber threats. We believe that informed individuals and organizations are the first line of defense in the fight against cybercrime. By fostering a culture of cybersecurity awareness, we aim to create a safer online environment for everyone, ensuring that both personal and organizational data remain secure.</p>
        </div>
        <div class="col-md-6">
            <h2 style="text-align: center;">Our Vision</h2>
            <p>We envision a future in which every individual, regardless of their background or level of expertise, possesses a comprehensive understanding of the various cybersecurity risks that exist in our increasingly interconnected digital landscape. In this ideal world, people are not only aware of the potential threats that can compromise their personal information and online safety but are also equipped with the knowledge and skills necessary to effectively mitigate these risks.</p>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-md-12">
            <h2 class="text-center">Meet Our Team</h2>
            <div class="row justify-content-center">
                <div class="col-md-4">
                    <div class="card mb-4">
                        <img src="https://via.placeholder.com/150" class="card-img-top" alt="Team Member">
                        <div class="card-body">
                            <h5 class="card-title">Edward Sila</h5>
                            <p class="card-text">Full stack developer with specialization in backend.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}