{% extends 'base.html' %}

{% block title %}Training Modules - CyberGuardians{% endblock %}

{% block content %}
<style type="text/css">
    .content {
    line-height: 1.6; /* Improve line spacing */
    font-size: 1.1rem; /* Slightly larger font size for readability */
}

.content h2, .content h3, .content h4 {
    margin-top: 1.5rem; /* Add space above headings */
    margin-bottom: 0.5rem; /* Add space below headings */
}

.content p {
    margin-bottom: 1rem; /* Add space between paragraphs */
}

.content ul, .content ol {
    margin-left: 20px; /* Indent lists */
}
</style>


 <div class="container mt-7 text-light">
    <br>
        <h1><strong>{{ module.title }}</strong></h1>
        <br>
         {% if module.image %}
            <img src="{{ module.image.url }}" alt="{{ module.title }}" class="img-fluid">
        {% endif %}
        <br>
        <br>
        <p><strong>Description:</strong></p><p>{{ module.description }}</p>
        <p><strong>Duration:</strong> {{ module.duration_minutes }} minutes</p>
        <p><strong>Content:</strong>
            <br>
          <div class="accordion" id="trainingModuleAccordion">
            <div class="card bg-dark text-light">
                <div class="card-header bg-secondary" id="headingOne">
                    <h2 class="mb-0">
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                            <i class="fas fa-chevron-down"></i> Module Content 1
                        </button>
                    </h2>
                </div>

                <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#trainingModuleAccordion">
                    <div class="content">
                        {{ module.content|safe }}
                    </div>
                </div>
            </div>
        
        <br>
        {% if module.video_url %}
            <h3>Video</h3>
            <iframe width="560" height="315" src="{{ module.video_url }}" frameborder="0" allowfullscreen></iframe>
        {% endif %}
        
       <br><br>

        {% if module.quizzes.all %}
            <h3>{{ module.quizzes.first.title }}</h3>
            <br>
             <a href="{% url 'quiz' module.quizzes.first.id %}" class="btn btn-secondary mt-3">Do Quiz</a>  <!-- Button to go to the quiz -->
        {% else %}
            <p>No quiz available for this module.</p>
        {% endif %}
        <br><br>
        <div class="d-flex justify-content-center">
                        <a href="{% url 'training_list' %}" class="btn btn-secondary">Back</a>
                    </div>
        <p><strong>Created At:</strong> {{ module.created_at }}</p>
        <p><strong>Updated At:</strong> {{ module.updated_at }}</p>
    </div>
{% endblock %}