{% extends 'base.html' %}

{% block title %}Trainig Modules - CyberGuardians{% endblock %}

{% block content %}
<br><br>
<div class="container mt-5 text-dark p-4">
    <h1>Training Modules</h1>
    <br>
    <div class="row">
        {% for module in modules %}
            <div class="col-md-4 mb-4"> <!-- Adjust the column size as needed -->
                <div class="card h-100 shadow-sm"> <!-- Card with shadow for depth -->
                    <div class="card-body">
                        <h5 class="card-title">{{ module.title }}</h5>
                        <p class="card-text">{{ module.description|truncatewords:20 }}</p> <!-- Show a brief description -->
                        <div class="d-flex justify-content-center">
                        <a href="{% url 'training' module.id %}" class="btn btn-outline-dark">View Module</a>
                    </div>
                    </div>
                </div>
            </div>
        {% empty %}
            <div class="col-12">
                <div class="alert alert-secondary text-center" role="alert">No training modules available.</div>
            </div>
        {% endfor %}
    </div>
    <br><br>
    <a href="{% url 'home' %}" class="btn btn-primary btn-lg">Back</a>
</div>
<br><br><br><br>
<br><br><br><br>

{% endblock %}