{% extends 'base.html' %}

{% block title %}Training Modules - CyberGuardians{% endblock %}

{% block content %}
 <div class="container mt-5">
        <h1><strong>{{ module.title }}</strong></h1>
        <br>
         {% if module.image %}
            <img src="{{ module.image.url }}" alt="{{ module.title }}" class="img-fluid">
        {% endif %}
        <br>
        <br>
        <p><strong>Description:</strong></p><p>{{ module.description }}</p>
        <p><strong>Duration:</strong> {{ module.duration_minutes }} minutes</p>
        <p><strong>Content:</strong>
            <br>
          <div class="accordion" id="trainingModuleAccordion">
            <div class="card">
                <div class="card-header" id="headingOne">
                    <h2 class="mb-0">
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                            <i class="fas fa-chevron-down"></i> Module Content 1
                        </button>
                    </h2>
                </div>

                <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#trainingModuleAccordion">
                    <div class="card-body">
                        {{ module.content }}
                    </div>
                </div>
            </div>
        
        <br>
        {% if module.video_url %}
            <h3>Video</h3>
            <iframe width="560" height="315" src="{{ module.video_url }}" frameborder="0" allowfullscreen></iframe>
        {% endif %}
        
       <br><br>

        {% if module.quizzes.all %}
            <h3>{{ module.quizzes.first.title }}</h3>
            <br>
             <a href="{% url 'quiz' module.quizzes.first.id %}" class="btn btn-secondary mt-3">Do Quiz</a>  <!-- Button to go to the quiz -->
        {% else %}
            <p>No quiz available for this module.</p>
        {% endif %}
        <br><br>
         <a href="{% url 'home' %}" class="btn btn-primary btn-lg">Back</a>
        
        <p><strong>Created At:</strong> {{ module.created_at }}</p>
        <p><strong>Updated At:</strong> {{ module.updated_at }}</p>
    </div>
{% endblock %}