{% extends 'base.html' %}

{% block title %}Trainig Modules - CyberGuardians{% endblock %}

{% block content %}
<br><Br>
  <div class="container mt-5">
        <h1>Training Modules</h1>
        <ul class="list-group">
            {% for module in modules %}
                <li class="list-group-item">
                    <a href="{% url 'training' module.id %}">{{ module.title }}</a>
                    <p>{{ module.description|truncatewords:20 }}</p>  <!-- Show a brief description -->
                </li>
            {% empty %}
                <li class="list-group-item">No training modules available.</li>
            {% endfor %}
        </ul>
        <br><br>
         <a href="{% url 'home' %}" class="btn btn-primary btn-lg">Back</a>
    </div>
<br><Br><br><br>
<br><Br><br><br>

{% endblock %}